@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@font-face {
    font-family: RalewayRegular;
    src: url("../fonts/Raleway-Regular.ttf");
}

body {
    font-family: 'Montserrat', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    cursor: default;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #EC8C42;
    padding: 15px 0;
}

header .container {
    display: flex;
    align-items: center;
}

.menu {
    margin-left: 125px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu a {
    text-decoration: none;
    padding: 0 25px;
    color: #FFF;
    cursor: pointer;
}

.location {
    margin-left: 295px;
    margin-right: 15px;
}

.location-text {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.phone-number {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.first-block {
    background: linear-gradient(176.69deg, rgba(236, 140, 66, 0.301) -33.75%, rgba(149, 196, 236, 0.25) 94.97%), url("../images/littleGirl.png");
    background-size: cover;
}

.first-block-text {
    padding: 180px 0 150px 0;
    width: 658px;
    text-align: center;
}

.first-block-title {
    color: #fff;
    font-weight: 700;
    font-size: 90px;
    line-height: 110px;
    cursor: default;
}

.first-block-description {
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}

.first-block-information {
    color: #FFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-top: 20px;
}

.first-block-action {
    padding-top: 30px;
}

.first-block-btn {
    background: #FFAF02;
    border-radius: 25px;
    border: none;
    padding: 18px 80px;
    cursor: pointer;
    color: #FFF;
    font-weight: 400;
    font-size: 20px;
}

.second-block {
    background: #D3E4F4 url("../images/first-foliage.png") no-repeat;
}


.advantages-title {
    padding: 100px 0 30px 0;
    font-weight: 700;
    font-size: 60px;
    color: #F2AA40;
}

.advantages-box {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.advantages-block {
    width: 200px;
}

.advantages-price {
    font-weight: 600;
    font-size: 30px;
    color: #82BCED;
    padding-bottom: 5px;
}

.advantages-description {
    font-weight: 400;
    font-size: 16px;
    color: #676767;
}

.about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 100px;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    color: #F2AA40;
}

.our-intent {
    width: 590px;
    padding-top: 30px;
}

h4 {
    padding-top: 30px;
    font-weight: 600;
    font-size: 30px;
    color: #82BCED;
}

.our-intent-text {
    padding-top: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #676767;
}

.our-intent-image {
    padding-left: 70px;
}

.booking {
    background: #D3E4F4 url("../images/second-foliage.png") no-repeat;
}


.booking-title {
    padding-top: 30px;
    font-weight: 600;
    font-size: 30px;
    color: #6DB2ED;
}

.booking-text {
    width: 740px;
    padding-top: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #676767;
}

.booking-types {
    position: relative;
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: max-content;
    grid-gap: 20px;
}

.booking-types .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    margin-top: 15px;
}

.booking-types .slick-arrow.slick-prev {
    left: 360px;
    top: 188px;
    width: 70px;
    background: url("../images/arrow-right.png") no-repeat 100%;
    transform: rotate(-180deg);
}

.booking-types .slick-arrow.slick-next {
    right: 360px;
    top: 198px;
    width: 70px;
    background: url("../images/arrow-right.png") no-repeat 100%;
}

.booking-types .slick-dots li button:before {
    font-size: 0;
}

.booking-types .slick-prev:before {
    font-size: 0;
}

.booking-types .slick-next:before {
    font-size: 0;
}

.booking-types .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-types .slick-dots li {
    list-style: none;
    margin: 0 10px;
}

.booking-types .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ECA167;
}

.booking-types .slick-dots li.slick-active button {
    background-color: #82BCED;
}


.booking-box {
    margin: 0 10px;
    border-radius: 20px;
    padding: 20px 25px;
    background: #B5D5F0;
    width: 250px;
}

.booking-box-names {
    font-weight: 600;
    font-size: 16px;
    color: #2F2F2F;
}

.booking-box-right {
    margin-left: 50px;
    font-weight: 600;
    font-size: 16px;
    color: #FCA321;
}

.booking-box-time {
    padding-top: 10px;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}

.orange {
    color: #F2AA40;
}

.booking-box-place {
    padding: 5px 0;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}

.booking-box-price {
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}

.booking-box-action {
    padding-top: 10px;
    text-align: center;
}

.booking-btn {
    cursor: pointer;
    border: none;
    padding: 10px 40px;
    background: #FFAF02;
    border-radius: 25px;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.out-territories {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(3, max-content);
    grid-gap: 50px;
}

.territories-title {
    font-weight: 600;
    font-size: 30px;
    color: #6DB2ED;
    padding: 50px 0;
}

.territories-info {
    margin-bottom: 10px;
    width: 308px;
    font-weight: 400;
    font-size: 16px;
    color: #676767;
}

.our-special-block {
    background: url("../images/spa.png") no-repeat #D3E4F4;
}

.our-specials {
    display: flex;
    margin-bottom: 50px;
}

.our-specials-title {
    font-weight: 600;
    font-size: 30px;
    color: #6DB2ED;
    margin-bottom: 30px;
}

.our-specials-info {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    color: #676767;
}

.our-specials-text {
    margin-bottom: 8px;
    width: 700px;
    font-weight: 400;
    font-size: 16px;
    color: #676767;
}

.our-specials-spa-info {
    font-weight: 400;
    font-size: 16px;
    color: #676767;
    margin-bottom: 5px;
}

.our-specials-spa {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(3, max-content);
    grid-gap: 10px;
    grid-column-gap: 50px;
}

.our-specials-spa-body {
    font-weight: 400;
    font-size: 16px;
    color: #676767;
}

.specials-img {
    margin-left: 15px;
}

.special-guest-box {
    display: flex;
    grid-column-gap: 45px;
}

.guest-title {
    display: flex;
    justify-content: right;
}

.guest-text {
    padding-top: 20px;
    width: 700px;
    font-weight: 400;
    font-size: 16px;
    color: #676767;
}

.english-course {
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.english-course-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #676767;
}

.english-course-info {
    width: 700px;
}

.english-course-text {
    font-weight: 400;
    font-size: 16px;
    color: #676767;
    margin-bottom: 10px;
}

.english-course-description {
    font-weight: 400;
    font-size: 16px;
    color: #676767;
}