@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@font-face {
    font-family: RalewayRegular;
    src: url("../fonts/Raleway-Regular.ttf");
}

body {
    font-family: 'Montserrat', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    cursor: default;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #EC8C42;
    padding: 15px 0;
}

header .container {
    display: flex;
    align-items: center;
}

.menu {
    margin-left: 125px;
    padding-right: 295px;
}

.menu-item {
    font-family: RalewayRegular, sans-serif;
}

.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu a {
    text-decoration: none;
    padding: 0 25px;
    color: #FFF;
    cursor: pointer;
}

.location {
    margin-right: 15px;
}

.location-text {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.phone-number {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.first-block {
    background: linear-gradient(176.69deg, rgba(236, 140, 66, 0.301) -33.75%, rgba(149, 196, 236, 0.25) 94.97%), url("../images/littleGirl.png");
    background-size: cover;
}

.first-block-text {
    padding: 180px 0 150px 0;
    width: 658px;
    text-align: center;
}

.first-block-title {
    color: #fff;
    font-weight: 700;
    font-size: 90px;
    line-height: 110px;
    cursor: default;
}

.first-block-description {
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}

.first-block-information {
    color: #FFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-top: 20px;
}


.first-block-btn {
    margin-top: 30px;
    background: #FFAF02;
    border-radius: 25px;
    border: none;
    padding: 18px 80px;
    cursor: pointer;
    color: #FFF;
    font-weight: 400;
    font-size: 20px;
    transition: 300ms ease-in-out;
}

.first-block-btn:hover {
    background: #FFC443;
    transition: 300ms ease-in-out;
}

.first-block-btn:focus-within {
    background: #95C4EC;
    transition: 300ms ease-in-out;
}

.second-block {
    background: #D3E4F4 url("../images/first-foliage.png") no-repeat;
}


.advantages-title {
    padding: 100px 0 30px 0;
    font-weight: 700;
    font-size: 60px;
    color: #F2AA40;
}

.advantages-box {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.advantages-block {
    width: 200px;
}

.advantages-price {
    font-weight: 600;
    font-size: 30px;
    color: #82BCED;
    padding-bottom: 5px;
}

.advantages-description {
    font-weight: 400;
    font-size: 16px;
    color: #676767;
}

.about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 100px;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    color: #F2AA40;
}

.our-intent {
    width: 590px;
    padding-top: 30px;
}

h4 {
    padding-top: 30px;
    font-weight: 600;
    font-size: 30px;
    color: #82BCED;
}

.our-intent-text {
    padding-top: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #676767;
}

.our-intent-image {
    padding-left: 70px;
}

.booking {
    background: #D3E4F4 url("../images/second-foliage.png") no-repeat;
    padding-bottom: 75px;
}


.booking-title {
    padding-top: 30px;
    font-weight: 600;
    font-size: 30px;
    color: #6DB2ED;
}

.booking-text {
    width: 740px;
    padding-top: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #676767;
}

.booking-types {
    position: relative;
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: max-content;
    grid-gap: 20px;
}

.booking-types .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    margin-top: 15px;
}

.booking-types .slick-arrow.slick-prev {
    left: 360px;
    top: 188px;
    width: 70px;
    background: url("../images/arrow-right.png") no-repeat 100%;
    transform: rotate(-180deg);
}

.booking-types .slick-arrow.slick-next {
    right: 360px;
    top: 198px;
    width: 70px;
    background: url("../images/arrow-right.png") no-repeat 100%;
}

.booking-types .slick-dots li button:before {
    font-size: 0;
}

.booking-types .slick-prev:before {
    font-size: 0;
}

.booking-types .slick-next:before {
    font-size: 0;
}

.booking-types .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-types .slick-dots li {
    list-style: none;
    margin: 0 10px;
}

.booking-types .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ECA167;
}

.booking-types .slick-dots li.slick-active button {
    background-color: #82BCED;
}


.booking-box {
    margin: 0 10px;
    border-radius: 20px;
    padding: 20px 25px;
    background: #B5D5F0;
    width: 250px;
}

.booking-box-names {
    font-weight: 600;
    font-size: 16px;
    color: #2F2F2F;
}

.booking-box-right {
    margin-left: 50px;
    font-weight: 600;
    font-size: 16px;
    color: #FCA321;
}

.booking-box-time {
    padding-top: 10px;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}

.orange {
    color: #F2AA40;
}

.booking-box-place {
    padding: 5px 0;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}

.booking-box-price {
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}

.booking-box-action {
    display: flex;
    text-decoration: none;
    padding-top: 10px;
    justify-content: center;
}

.booking-btn {
    cursor: pointer;
    border: none;
    padding: 10px 40px;
    background: #FFAF02;
    border-radius: 25px;
    transition: 300ms ease-in-out;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    scroll-behavior: smooth;
}

.booking-btn:hover {
    background: #FCA321;
    transition: 300ms ease-in-out;
    color: #676767;;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.out-territories {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(3, max-content);
    grid-gap: 50px;
}

.territories-title {
    font-weight: 600;
    font-size: 30px;
    color: #6DB2ED;
    padding-bottom: 50px;
}

.territories-info {
    margin-bottom: 10px;
    width: 308px;
    font-weight: 400;
    font-size: 16px;
    color: #676767;
}

.our-special-block {
    background: url("../images/spa.png") no-repeat bottom #D3E4F4;
}

.our-specials {
    display: flex;
    margin-bottom: 50px;
}

.our-specials-title {
    font-weight: 600;
    font-size: 30px;
    color: #6DB2ED;
    margin-bottom: 30px;
}

.our-specials-info {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    color: #676767;
}

.our-specials-text {
    margin-bottom: 8px;
    width: 700px;
    font-weight: 400;
    font-size: 16px;
    color: #676767;
}

.our-specials-spa-info {
    font-weight: 400;
    font-size: 16px;
    color: #676767;
    margin-bottom: 5px;
}

.our-specials-spa {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(3, max-content);
    grid-gap: 10px;
    grid-column-gap: 50px;
}

.our-specials-spa-body {
    font-weight: 400;
    font-size: 16px;
    color: #676767;
}

.specials-img {
    margin-left: 15px;
}

.special-guest-box {
    display: flex;
    grid-column-gap: 45px;
}

.guest-title {
    display: flex;
    justify-content: right;
}

.guest-text {
    padding-top: 20px;
    width: 700px;
    font-weight: 400;
    font-size: 16px;
    color: #676767;
}

.english-course {
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.english-course-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #676767;
}

.english-course-info {
    width: 700px;
}

.english-course-text {
    font-weight: 400;
    font-size: 16px;
    color: #676767;
    margin-bottom: 10px;
}

.english-course-description {
    font-weight: 400;
    font-size: 16px;
    color: #676767;
}

.form {
    background: #D3E4F4 url("../images/flower.png") no-repeat 100%;
    /*display: flex;*/
    padding-bottom: 100px;
}

.form-title {
    padding: 100px 0 20px 0;
    font-weight: 700;
    font-size: 60px;
    color: #FCA321;
}

.form-under-title {
    font-weight: 400;
    font-size: 16px;
    color: #676767;
}

.form-box {
    display: flex;
    align-items: center;
}

.input {
    margin: 10px 0;
    padding: 20px;
    border-radius: 25px;
    background: #FFFFFF;
    outline: 0;
    border: 1px #FFFFFF;
}

#names {
    width: 510px;
}

.FullName {
    width: 470px;
}

.number-input {
    width: 470px;
}

.e-mail {
    width: 470px;
}


.form-btn {
    cursor: pointer;
    width: 510px;
    border: none;
    padding: 15px 150px;
    background: #FFAF02;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #2F2F2F;
    transition: 300ms ease-in-out;
}

.form-btn:hover {
    color: #676767;
    background: #FCA321;
    transition: 300ms ease-in-out;
}

.form-btn:focus-within {
    background: #FFFFFF;
    transition: 300ms;
    color: #F2AA40;
}

.agree {
    display: flex;
    padding-top: 10px;
}

#checkbox {
    margin-right: 20px;
    border-radius: 100%;
}

.our-team {
    background: url("../images/our-team.png") no-repeat #D3E4F4;
    padding-bottom: 100px;
    z-index: -111;
}

.our-team-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #FCA321;
}

.our-team-info {
    display: grid;
    grid-template-columns: repeat(4, 260px);
    grid-gap: 50px;
    padding-bottom: 100px;
}

.our-team-box {
    text-align: center;
}

.our-team-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0;
    color: #676767;
}

.our-team-job {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #676767;
}

.galleries {
    position: relative;
}

.galleries-title {
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 60px;
    color: #FCA321;
}

.galleries-img img {
    border-radius: 30px;
}

.galleries .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    margin-top: 15px;
}

.galleries .slick-arrow.slick-prev {
    left: 305px;
    top: 338px;
    width: 70px;
    background: url("../images/arrow-right.png") no-repeat 100%;
    transform: rotate(-180deg);
}

.galleries .slick-arrow.slick-next {
    right: 310px;
    top: 347px;
    width: 70px;
    background: url("../images/arrow-right.png") no-repeat 100%;
}

.galleries .slick-dots li button:before {
    font-size: 0;
}

.galleries .slick-prev:before {
    font-size: 0;
}

.galleries .slick-next:before {
    font-size: 0;
}

.galleries .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.galleries .slick-dots li {
    list-style: none;
    margin: 0 10px;
}

.galleries .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ECA167;
}

.galleries .slick-dots li.slick-active button {
    background-color: #82BCED;
}

.reviews {
    padding-top: 70px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 340px);
    /*grid-gap: 90px;*/
    grid-template-rows: max-content;
}

.reviews-h1 {
    padding: 100px 0 20px 0;
    font-weight: 700;
    font-size: 60px;
    color: #FCA321;
}

.reviews-box {
    max-height: 388px;
    padding: 20px 20px 50px 20px;
    background: #B5D5F0;
    border-radius: 30px;
    margin: 0 10px;
}

.reviews-logo {
    display: flex;
    justify-content: right;
}

.reviews-name {
    font-weight: 600;
    font-size: 16px;
    color: #676767;
    margin-bottom: 10px;
}

.reviews-text {
    width: 346px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #676767;
}

.reviews .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    margin-top: 15px;
}

.reviews .slick-arrow.slick-prev {
    left: 420px;
    top: 411px;
    width: 70px;
    background: url("../images/arrow-right.png") no-repeat 100%;
    transform: rotate(-180deg);
}

.reviews .slick-arrow.slick-next {
    right: 430px;
    top: 422px;
    width: 70px;
    background: url("../images/arrow-right.png") no-repeat 100%;
}

.reviews .slick-dots li button:before {
    font-size: 0;
}

.reviews .slick-prev:before {
    font-size: 0;
}

.reviews .slick-next:before {
    font-size: 0;
}

.reviews .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -40px;
}

.reviews .slick-dots li {
    list-style: none;
    margin: 0 10px;
}

.reviews .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ECA167;
}

.reviews .slick-dots li.slick-active button {
    background-color: #82BCED;
}

.last-block {
    background: #D3E4F4 url("../images/last-block.png") no-repeat 100% bottom;
    padding-bottom: 100px;
}


.accordion {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: repeat(3, max-content);
}

.question-title {
    font-weight: 700;
    font-size: 60px;
    color: #FCA321;
    margin-bottom: 30px;
}

.accordion li {
    list-style: none;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    width: 560px;
}



.accordion li label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 25px;
    color: #676767;
}

.accordion label::before {
    content: '+';
    font-size: 24px;
    font-weight: 500;
    order: 2;
}

input[type='radio']{
    display: none;
}

.accordion .content {
    padding: 0 10px;
    line-height: 28px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
    font-weight: 400;
    font-size: 16px;
    color: #676767;
}

.accordion input[type='radio']:checked + label + .content {
    padding: 10px 10px 20px;
    max-height: 100%;
}

.accordion input[type='radio']:checked + label::before {
    content: '-';
    max-height: 100%;
}

.question-form {
    margin-top: 100px;
}

.question-form-title {
    font-weight: 700;
    font-size: 60px;
    color: #FCA321;
    margin-bottom: 30px;
}

.question-form-info {
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    margin-bottom: 30px;
}

.question-form-action {
    display: grid;
    grid-template-columns: repeat(1, 460px);
    grid-template-rows: repeat(3, max-content);
    grid-gap: 20px;
}

.question-name {
    font-weight: 400;
    font-size: 16px;
    color: #676767;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 25px;
    border: none;
    outline: none;
}

.question-number {
    font-weight: 400;
    font-size: 16px;
    color: #676767;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 25px;
    border: none;
    outline: none;
}

.question-form-btn {
    padding: 15px 0;
    background: #FFAF02;
    border-radius: 25px;
    font-weight: 700;
    font-size: 20px;
    color: #2F2F2F;
    transition: 300ms ease-in-out;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}

.question-form-btn:hover {
    transition: 300ms ease-in-out;
    background: #F2AA40;
    color: #676767;;
}

.question-form-btn:focus-within {
    transition: 300ms ease-in-out;
    background: #FFFFFF;
    color: #F2AA40;
}

.last-block-map-title {
    font-weight: 700;
    font-size: 60px;
    color: #FCA321;
    margin-bottom: 30px;
}

.footer {
    background: #EC8C42;
    padding: 50px;
}

.footer-box {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: repeat(2, max-content);
    align-items: center;
    justify-content: space-between;
}
.footer-travel-info {
    max-width: 650px;
}

.footer-travel {
    font-weight: 400;
    font-size: 16px;
    color: #676767;
    margin-bottom: 10px;
}

.footer-travel-location {
    font-weight: 400;
    font-size: 16px;
    color: #676767;
    margin-bottom: 10px;
}

.footer-travel-iin {
    font-weight: 400;
    font-size: 12px;
    color: #676767;
    margin-bottom: 10px;
}

.footer-travel-site {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
    color: #676767;
}

.footer-travel-civil {
    font-weight: 400;
    font-size: 12px;
    color: #676767;
}

.footer-email {
    font-weight: 400;
    font-size: 18px;
    color: #676767;
}

.footer-number {
    display: block;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.footer-number:first-child {
    margin-bottom: 10px;
}

.footer-socials {
    display: flex;
    padding-top: 20px;
    grid-gap: 15px;
}

.footer-under-text {
    padding-top: 50px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #676767;
}